/* -------------------------------- */
/* -----MAX-WIDTH: 1920PX ----------*/
/* ----------PRONTO---------------------- */
/* @media (min-width: 1025px) and (max-width: 1920.99px) { */
.experiencia {
  display: grid;
  grid-area: experiencia;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "experiencia-titulo experiencia-titulo"
    "experiencia-empresa experiencia-empresa"
    "experiencia-empresa experiencia-empresa"
    "experiencia-empresa experiencia-empresa";

  max-width: 1920px;
  padding: 40px 20px;
  margin: 30px;
  gap: 100px;
  position: relative;
  height: 694px;
  background-color: var(--cinza5);
}

.experiencia > .experiencia-titulo {
  grid-area: experiencia-titulo;
  margin-top: -80px;
  margin-left: 10px;
  width: 400px;
  justify-self: center;
  align-self: center;
}

.experiencia > .experiencia-empresa-container {
  grid-area: experiencia-empresa;
  grid-template-rows: repeat(3, 1fr);
  margin-top: -80px;
  margin-left: 236px;
  width: 900px;
  position: absolute;
}

.experiencia > .experiencia-empresa-container > .experiencia-empresa {
  display: flex;
  grid-area: 1 / 1 / 2 / 3;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 200px;
}

.experiencia
  > .experiencia-empresa-container
  > .experiencia-empresa
  > .experiencia-ano {
  left: -108px;
  top: 14px;
  position: relative;
  font-size: 20px;
}

.experiencia
  > .experiencia-empresa-container
  > .experiencia-empresa:nth-child(odd) {
  background-color: var(--cinza1);
}

.experiencia
  > .experiencia-empresa-container
  > .experiencia-empresa:nth-child(even) {
  background-color: var(--cinza3);
}

.experiencia
  > .experiencia-empresa-container
  > .experiencia-empresa
  > .experiencia-nome {
  margin: -10px 0px 30px 20px;
  height: 20px;
  color: var(--preto);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.experiencia
  > .experiencia-empresa-container
  > .experiencia-empresa
  > .experiencia-profissao {
  font-weight: 600;
  height: 20px;
  align-self: flex-end;
  margin: -50px 20px 0 0;
  color: var(--preto);
  font-size: 20px;
  font-style: normal;
  line-height: 32px;
}

.experiencia > .experiencia-empresa-container > .experiencia-empresa > ul {
  position: relative;
  margin: 4px 25px;
  line-height: 1.6;
  color: var(--preto);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.experiencia > .experiencia-empresa > ul::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: url("../imagens/decoracao/ellipse.svg") no-repeat center;
  position: absolute;
}

/* -------------------------------- */
/* -----MIN-WIDTH: 1921PX---- ------*/
/* -------------------------------- */
@media (min-width: 1921px) {
  .experiencia {
    max-width: 2560px;
    margin: 50px;
    height: 1300px;
    border: 2px solid black;
  }

  .experiencia > .experiencia-titulo {
    margin-top: -50px;
    width: 700px;
  }

  .experiencia > .experiencia-empresa-container {
    margin-left: 248px;
    width: 1890px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa {
    height: 340px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-ano {
    left: -208px;
    top: 30px;
    font-size: 40px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-nome {
    margin: -10px 0px 100px 20px;
    font-size: 40px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-profissao {
    margin-top: -120px;
    font-size: 40px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa > ul {
    margin: 44px 0 0 40px;
    font-size: 34px;
  }

  .experiencia > .experiencia-empresa > ul::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url("../imagens/decoracao/ellipse.svg") no-repeat center;
    position: absolute;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 1024PX---- ------*/
/* -------------------------------- */
/* @media (min-width: 965px) and (max-width: 1024.99px) { */
@media (max-width: 1024px) {
  .experiencia {
    max-width: 1024px;
    margin: 40px 25px;
    height: 700px;
    border: 2px solid black;
  }

  .experiencia > .experiencia-titulo {
    margin-top: -100px;
    width: 340px;
  }

  .experiencia > .experiencia-empresa-container {
    margin-top: -100px;
    margin-left: 110px;
    width: 800px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa {
    height: 200px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-ano {
    left: -106px;
    top: 16px;
    font-size: 20px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-nome {
    margin: -10px 0px 100px 20px;
    font-size: 20px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-profissao {
    margin-top: -120px;
    font-size: 20px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa > ul {
    margin: 24px 0 0 40px;
    font-size: 18px;
  }

  .experiencia > .experiencia-empresa > ul::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url("../imagens/decoracao/ellipse.svg") no-repeat center;
    position: absolute;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 900PX -----------*/
/* Tela deitada no Samsung */
/* -------------------------------- */
@media (max-width: 900.99px) {
  .experiencia {
    max-width: 900px;
    margin: 40px 20px;
    height: 600px;
    border: 2px solid black;
  }

  .experiencia > .experiencia-titulo {
    margin-top: -90px;
    width: 290px;
  }

  .experiencia > .experiencia-empresa-container {
    margin-top: -120px;
    margin-left: 110px;
    width: 680px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa {
    height: 180px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-ano {
    left: -106px;
    top: 16px;
    font-size: 18px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-nome {
    margin: -10px 0px 100px 20px;
    font-size: 18px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-profissao {
    margin-top: -120px;
    font-size: 18px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa > ul {
    margin: 24px 0 0 40px;
    font-size: 16px;
  }

  .experiencia > .experiencia-empresa > ul::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url("../imagens/decoracao/ellipse.svg") no-repeat center;
    position: absolute;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 821X -----------*/
/* Tela deitada no Samsung */
/* -------------------------------- */
@media (max-width: 821.99px) {
  .experiencia {
    max-width: 900px;
    margin: 30px 20px;
    height: 600px;
    border: 2px solid black;
  }

  .experiencia > .experiencia-titulo {
    margin-top: -90px;
    width: 290px;
  }

  .experiencia > .experiencia-empresa-container {
    margin-top: -120px;
    margin-left: 110px;
    width: 588px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa {
    height: 180px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-ano {
    left: -106px;
    top: 16px;
    font-size: 18px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-nome {
    margin: -10px 0px 100px 20px;
    font-size: 18px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-profissao {
    margin-top: -120px;
    font-size: 18px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa > ul {
    margin: 24px 0 0 40px;
    font-size: 16px;
  }

  .experiencia > .experiencia-empresa > ul::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url("../imagens/decoracao/ellipse.svg") no-repeat center;
    position: absolute;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 768PX -----------*/
/* -------------------------------- */
@media (max-width: 768.99px) {
  .experiencia {
    max-width: 768px;
    /* margin: 40px 20px; */
    height: 560px;
    background-color: var(--cinza5);
    border: 2px solid black;
  }

  .experiencia > .experiencia-titulo {
    margin-top: -80px;
    width: 260px;
  }

  .experiencia > .experiencia-empresa-container {
    margin-top: -120px;
    margin-left: 90px;
    width: 560px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa {
    height: 180px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-ano {
    left: -84px;
    top: 16px;
    font-size: 16px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-nome {
    margin: -10px 0px 100px 20px;
    font-size: 16px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-profissao {
    margin-top: -120px;
    font-size: 16px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa > ul {
    margin: 24px 0 0 40px;
    font-size: 14px;
  }

  .experiencia > .experiencia-empresa > ul::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url("../imagens/decoracao/ellipse.svg") no-repeat center;
    position: absolute;
  }
}




/* -------------------------------- */
/* -----MAX-WIDTH: 720PX -----------*/
/* -------------------------------- */
@media (max-width: 720.99px) {
  .experiencia {
    max-width: 768px;
    /* margin: 40px 20px; */
    height: 560px;
    background-color: var(yellowgreen);
    border: 2px solid black;
  }

  .experiencia > .experiencia-titulo {
    margin-top: -80px;
    width: 260px;
  }

  .experiencia > .experiencia-empresa-container {
    margin-top: -120px;
    margin-left: 80px;
    width: 538px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa {
    height: 180px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-ano {
    left: -84px;
    top: 16px;
    font-size: 16px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-nome {
    margin: -10px 0px 100px 20px;
    font-size: 16px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-profissao {
    margin-top: -120px;
    font-size: 16px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa > ul {
    margin: 24px 0 0 40px;
    font-size: 14px;
  }

  .experiencia > .experiencia-empresa > ul::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url("../imagens/decoracao/ellipse.svg") no-repeat center;
    position: absolute;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 668PX -----------*/
/* ------------PRONTO-------------------- */
/* Exibição horizontal para celular Samsung A6 (mãe) */
/* @media (min-width: 426px) and (max-width: 668.99px) { */
@media (max-width: 668.99px) {
  .experiencia {
    max-width: 668px;
    margin: 40px 8px;
    height: 560px;
    background-color: var(--cinza5);
    border: 2px solid black;
  }

  .experiencia > .experiencia-titulo {
    margin-top: -80px;
    width: 240px;
  }

  .experiencia > .experiencia-empresa-container {
    margin-top: -120px;
    margin-left: 70px;
    width: 520px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa {
    height: 180px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-ano {
    left: -78px;
    top: 14px;
    font-size: 14px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-nome {
    margin: -10px 0px 100px 20px;
    font-size: 14px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-profissao {
    margin-top: -120px;
    font-size: 14px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa > ul {
    margin: 24px 0 0 40px;
    font-size: 12px;
  }

  .experiencia > .experiencia-empresa > ul::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url("../imagens/decoracao/ellipse.svg") no-repeat center;
    position: absolute;
  }
}

/* --------------------------------- */
/* ----- MAX-WIDTH: 585PX ----- */
/* --------------------------------- */
@media (max-width: 585.99px) {
  .experiencia {
    max-width: 560px;
    margin: 40px 8px;
    height: 700px;
    background-color: var(--cinza5);
    border: 2px solid black;
  }

  .experiencia > .experiencia-titulo {
    margin-top: -80px;
    width: 240px;
  }

  .experiencia > .experiencia-empresa-container {
    margin-top: -120px;
    margin-left: 70px;
    width: 440px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa {
    height: 210px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-ano {
    left: -78px;
    top: 14px;
    font-size: 14px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-nome {
    margin: -10px 0px 100px 20px;
    font-size: 16px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-profissao {
    align-self: flex-start;
    margin-top: -90px;
    margin-left: 20px;
    font-size: 16px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa > ul {
    margin: 16px 0 0 40px;
    font-size: 14px;
  }

  .experiencia > .experiencia-empresa > ul::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url("../imagens/decoracao/ellipse.svg") no-repeat center;
    position: absolute;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 425PX -----------*/
/* ------------PRONTO-------------------- */
/* Exibição para celular Samsung J8 */
/* @media (min-width: 413px) and (max-width: 414.99px) { */
  @media (max-width: 425.99px) {
    .experiencia {
      /* max-width: 425px; */
      margin: 6px 8px;
      height: 708px;
      background-color: blue;
      border: 2px solid black;
      grid-template-columns: 1fr;
    }
  
    .experiencia > .experiencia-titulo {
      margin-top: -120px;
      width: 240px;
    }
  
    .experiencia > .experiencia-empresa-container {
      margin-top: -160px;
      margin-left: -2px;
      width: 356px;
    }
  
    .experiencia > .experiencia-empresa-container > .experiencia-empresa {
      height: 228px;
    }
  
    .experiencia
      > .experiencia-empresa-container
      > .experiencia-empresa
      > .experiencia-ano {
      display: none;
    }
  
    .experiencia
      > .experiencia-empresa-container
      > .experiencia-empresa
      > .experiencia-nome {
      margin: 10px 0px 100px 20px;
      font-size: 18px;
    }
  
    .experiencia
      > .experiencia-empresa-container
      > .experiencia-empresa
      > .experiencia-profissao {
      display: block;
      align-self: flex-start;
      margin-top: -90px;
      margin-left: 20px;
      font-size: 16px;
    }
  
    .experiencia > .experiencia-empresa-container > .experiencia-empresa > ul {
      margin: 10px 0 0 20px;
      font-size: 14px;
    }
  
    .experiencia > .experiencia-empresa > ul::before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      background: url("../imagens/decoracao/ellipse.svg") no-repeat center;
      position: absolute;
    }
  }

/* -------------------------------- */
/* -----MAX-WIDTH: 414PX -----------*/
/* ------------PRONTO-------------------- */
/* Exibição para celular Samsung J8 */
/* @media (min-width: 413px) and (max-width: 414.99px) { */
@media (max-width: 414.99px) {
  .experiencia {
    max-width: 425px;
    margin: -60px 8px;
    height: 708px;
    background-color: violet;
    border: 2px solid black;
    grid-template-columns: 1fr;
  }

  .experiencia > .experiencia-titulo {
    margin-top: -120px;
    width: 240px;
  }

  .experiencia > .experiencia-empresa-container {
    margin-top: -160px;
    margin-left: -2px;
    width: 320px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa {
    height: 228px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-ano {
    display: none;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-nome {
    margin: 10px 0px 100px 20px;
    font-size: 18px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-profissao {
    display: block;
    align-self: flex-start;
    margin-top: -90px;
    margin-left: 20px;
    font-size: 16px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa > ul {
    margin: 10px 0 0 20px;
    font-size: 14px;
  }

  .experiencia > .experiencia-empresa > ul::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url("../imagens/decoracao/ellipse.svg") no-repeat center;
    position: absolute;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 412PX -----------*/
/* ------------PRONTO-------------------- */
/* Exibição para celular Samsung J8 */
/* @media (min-width: 376px) and (max-width: 425.99px) { */
  @media (max-width: 412.99px) {
    .experiencia {
      max-width: 412px;
      margin: 20px 8px;
      height: 708px;
      background-color: indigo;
      /* border: 2px solid black; */
      grid-template-columns: 1fr;
    }
  
    .experiencia > .experiencia-titulo {
      margin-top: -120px;
      margin-left: -10px;
      width: 240px;
    }
  
    .experiencia > .experiencia-empresa-container {
      margin-top: -160px;
      margin-left: -2px;
      width: 338px;
    }
  
    .experiencia > .experiencia-empresa-container > .experiencia-empresa {
      height: 228px;
    }
  
    .experiencia
      > .experiencia-empresa-container
      > .experiencia-empresa
      > .experiencia-ano {
      display: none;
    }
  
    .experiencia
      > .experiencia-empresa-container
      > .experiencia-empresa
      > .experiencia-nome {
      margin: 10px 0px 100px 20px;
      font-size: 18px;
    }
  
    .experiencia
      > .experiencia-empresa-container
      > .experiencia-empresa
      > .experiencia-profissao {
      display: block;
      align-self: flex-start;
      margin-top: -90px;
      margin-left: 20px;
      font-size: 16px;
    }
  
    .experiencia > .experiencia-empresa-container > .experiencia-empresa > ul {
      margin: 10px 0 0 20px;
      font-size: 14px;
    }
  
    .experiencia > .experiencia-empresa > ul::before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      background: url("../imagens/decoracao/ellipse.svg") no-repeat center;
      position: absolute;
    }
  }
  