/* -------------------------------- */
/* -----MAX-WIDTH: 1920PX ----------*/
/* ----------PRONTO---------------------- */
/* @media (min-width: 1025px) and (max-width: 1920.99px) { */
.experiencia {
  display: grid;
  grid-area: experiencia;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "experiencia-titulo experiencia-titulo"
    "experiencia-empresa experiencia-empresa"
    "experiencia-empresa experiencia-empresa"
    "experiencia-empresa experiencia-empresa";

  max-width: 1920px;
  padding: 40px 20px;
  margin: 30px;
  gap: 100px;
  position: relative;
  height: 694px;
  background-color: var(--cinza5);
}

.experiencia > .experiencia-titulo {
  grid-area: experiencia-titulo;
  margin-top: -80px;
  margin-left: 10px;
  width: 400px;
  justify-self: center;
  align-self: center;
}

.experiencia > .experiencia-empresa-container {
  grid-area: experiencia-empresa;
  grid-template-rows: repeat(3, 1fr);
  margin-top: -80px;
  margin-left: 236px;
  width: 900px;
  position: absolute;
}

.experiencia > .experiencia-empresa-container > .experiencia-empresa {
  display: flex;
  grid-area: 1 / 1 / 2 / 3;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 200px;
}

.experiencia
  > .experiencia-empresa-container
  > .experiencia-empresa
  > .experiencia-ano {
  left: -108px;
  top: 14px;
  position: relative;
  font-size: 20px;
}

.experiencia
  > .experiencia-empresa-container
  > .experiencia-empresa:nth-child(odd) {
  background-color: var(--cinza1);
}

.experiencia
  > .experiencia-empresa-container
  > .experiencia-empresa:nth-child(even) {
  background-color: var(--cinza3);
}

.experiencia
  > .experiencia-empresa-container
  > .experiencia-empresa
  > .experiencia-nome {
  margin: -10px 0px 30px 20px;
  height: 20px;
  color: var(--preto);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.experiencia
  > .experiencia-empresa-container
  > .experiencia-empresa
  > .experiencia-profissao {
  font-weight: 600;
  height: 20px;
  align-self: flex-end;
  margin: -50px 20px 0 0;
  color: var(--preto);
  font-size: 20px;
  font-style: normal;
  line-height: 32px;
}

.experiencia > .experiencia-empresa-container > .experiencia-empresa > ul {
  position: relative;
  margin: 4px 25px;
  line-height: 1.6;
  color: var(--preto);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.experiencia > .experiencia-empresa > ul::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: url("../imagens/decoracao/ellipse.svg") no-repeat center;
  position: absolute;
}

/* -------------------------------- */
/* -----MIN-WIDTH: 1921PX---- ------*/
/* -------------------------------- */
@media (min-width: 1921px) {
  .experiencia {
    max-width: 2560px;
    margin: 50px;
    height: 1300px;
    background-color: var(--cinza5);
    border: 2px solid black;
  }

  .experiencia > .experiencia-titulo {
    margin-top: -50px;
    width: 700px;
  }

  .experiencia > .experiencia-empresa-container {
    margin-left: 248px;
    width: 1890px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa {
    height: 340px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-ano {
    left: -208px;
    top: 30px;
    font-size: 40px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-nome {
    margin: -10px 0px 100px 20px;
    font-size: 40px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-profissao {
    margin-top: -120px;
    font-size: 40px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa > ul {
    margin: 44px 0 0 40px;
    font-size: 34px;
  }

  .experiencia > .experiencia-empresa > ul::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url("../imagens/decoracao/ellipse.svg") no-repeat center;
    position: absolute;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 1024PX---- ------*/
/* -------------------------------- */
/* @media (min-width: 965px) and (max-width: 1024.99px) { */
@media (max-width: 1024px) {
  .experiencia {
    max-width: 1024px;
    margin: 40px 25px;
    height: 700px;
    background-color: var(--cinza5);
    border: 2px solid black;
  }

  .experiencia > .experiencia-titulo {
    margin-top: -100px;
    width: 340px;
  }

  .experiencia > .experiencia-empresa-container {
    margin-top: -100px;
    margin-left: 110px;
    width: 800px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa {
    height: 200px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-ano {
    left: -106px;
    top: 16px;
    font-size: 20px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-nome {
    margin: -10px 0px 100px 20px;
    font-size: 20px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-profissao {
    margin-top: -120px;
    font-size: 20px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa > ul {
    margin: 24px 0 0 40px;
    font-size: 18px;
  }

  .experiencia > .experiencia-empresa > ul::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url("../imagens/decoracao/ellipse.svg") no-repeat center;
    position: absolute;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 900PX -----------*/
/* Tela deitada no Samsung */
/* -------------------------------- */
@media(max-width: 900.99px){
  .experiencia {
    max-width: 900px;
    margin: 40px 20px;
    height: 600px;
    background-color: var(--cinza5);
    border: 2px solid black;
  }

  .experiencia > .experiencia-titulo {
    margin-top: -90px;
    width: 290px;
  }

  .experiencia > .experiencia-empresa-container {
    margin-top: -120px;
    margin-left: 110px;
    width: 680px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa {
    height: 180px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-ano {
    left: -106px;
    top: 16px;
    font-size: 18px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-nome {
    margin: -10px 0px 100px 20px;
    font-size: 18px;
  }

  .experiencia
    > .experiencia-empresa-container
    > .experiencia-empresa
    > .experiencia-profissao {
    margin-top: -120px;
    font-size: 18px;
  }

  .experiencia > .experiencia-empresa-container > .experiencia-empresa > ul {
    margin: 24px 0 0 40px;
    font-size: 16px;
  }

  .experiencia > .experiencia-empresa > ul::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background: url("../imagens/decoracao/ellipse.svg") no-repeat center;
    position: absolute;
  }
}
