/* -------------------------------- */
/* -----MAX-WIDTH: 1920PX ----------*/
/* ----------PRONTO---------------------- */
/* @media (min-width: 1025px) and (max-width: 1920.99px) { */

.header {
  display: flex;
  grid-area: header;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 30px 30px 2px 30px;
}

.header img {
  /* margin-left: -50px; */
  width: 43.75rem;
}

.header-menu {
  display: flex;
  grid-area: header;
  justify-content: space-evenly;
  width: 31.25rem;
  margin-left: 10px;
  gap: 20px;
}

.header-menu a {
  display: block;
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 10px;
  color: var(--cinza13);
}

/* -------------------------------- */
/* -----MIN-WIDTH: 1921PX---- ------*/
/* ------------PRONTO-------------- */
@media (min-width: 1921px) {
  .header {
    padding: 40px;
    margin: 3rem 3rem 0.125rem 3rem;
  }

  .header img {
    width: 75rem;
  }

  .header-menu {
    width: 59.375rem;
    padding: 20px;
  }

  .header-menu a {
    font-size: 2.7rem;
  }
}

/* -------------------------------- */
/* -----MIN-WIDTH: 1440PX---- ------*/
/* ------------PRONTO-------------- */
@media (max-width: 1440px) {
  .header {
    padding: 20px;
    margin: 10px 60px;
  }

  .header img {
    width: 600px;
  }

  .header-menu {
    width: 500px;
    padding: 10px;
  }

  .header-menu a {
    font-size: 26px;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 1031PX---- ------*/
/* -----------PRONTO--------------- */
@media (max-width: 1031.99px) {
  .header {
    padding: 14px 18px;
    margin: 25.6px;
  }

  .header img {
    width: 32rem;
  }

  .header-menu {
    width: 23rem;
  }

  .header-menu a {
    font-size: 20px;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 1180PX---- ------*/
/* -----------PRONTO--------------- */
@media (max-width: 1180.99px) {
  .header {
    padding: 14px 18px;
    margin: 25px;
    max-width: 1180px;
  }

  .header img {
    width: 540px;
  }

  .header-menu {
    width: 392px
  }

  .header-menu a {
    font-size: 22px;
  }
}


/* -------------------------------- */
/* -----MAX-WIDTH: 1024PX---- ------*/
/* -----------PRONTO--------------- */
@media (max-width: 1024.99px) {
  .header {
    padding: 10px 18px;
    margin: 25.6px;
  }

  .header img {
    width: 32rem;
  }

  .header-menu {
    width: 23rem;
  }

  .header-menu a {
    font-size: 1.2rem;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 926PX -----------*/
/* ---------PRONTO----------------- */
@media (max-width: 926.99px) {
  .header {
    padding: 10px 14px;
    margin: 16px;
    max-width: 816px;
    background-color: blueviolet;
  }

  .header img {
    width: 432px;
  }

  .header-menu {
    width: 358px;
    background-color: orange;
  }

  .header-menu a {
    font-size: 22px;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 915PX -----------*/
/* ---------PRONTO----------------- */
@media (max-width: 915.99px) {
  .header {
    padding: 10px 18px;
    margin: 22px;
  }

  .header img {
    width: 26.875rem;
  }

  .header-menu {
    width: 21.625rem;
  }

  .header-menu a {
    font-size: 1.25rem;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 900PX -----------*/
/* Tela deitada no Samsung */
/* -------------------------------- */
@media (max-width: 900.99px) {
  .header {
    flex-wrap: wrap;
    padding: 10px 18px;
    margin: 22px;
    justify-content: center;
  }

  .header img {
    width: 586px;
  }

  .header-menu {
    width: 30rem;
    /* background-color: yellowgreen; */
  }

  .header-menu a {
    font-size: 20px;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 896PX -----------*/
/* -------------------------------- */
@media (max-width: 896.99px) {
  .header {
    flex-wrap: wrap;
    padding: 10px 18px;
    margin: 22px;
    justify-content: center;
    /* background-color: chocolate; */
  }

  .header img {
    padding-top: 10px;
    width: 586px;
  }

  .header-menu {
    width: 440px;
    margin-top: 12px;
  }

  .header-menu a {
    font-size: 20px;
  }
}


/* -------------------------------- */
/* -----MAX-WIDTH: 851PX -----------*/
/* ---------PRONTO----------------- */
@media (max-width: 851.99px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    margin: 23px;
    height: 120px;
  }

  .header img {
    width: 440px;
    padding: 4px;
    margin-left: -8px;

  }
  .header-menu {
    width: 420px;
    margin-top: 10px;
  }
  .header-menu a {
    font-size: 20px;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 846PX -----------*/
/* ---------PRONTO----------------- */
@media (max-width: 846.99px) {
  .header {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18px;
    margin: 1.5rem;
  }

  .header img {
    width: 380px;
    padding: 4px;
    margin-left: -8px;

  }
  .header-menu {
    width: 320px;
    margin-top: 0px;
  }
  .header-menu a {
    font-size: 18px;
    line-height: 1;
  }
}


/* -------------------------------- */
/* -----MAX-WIDTH: 821PX -----------*/
/* -----Samsung J8 Tela Deitada---- */
@media (max-width: 821.99px) {
  .header {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 10px 18px;
    margin: 1.5rem;
    /* background-color: cadetblue; */
  }

  .header img {
    width: 360px;
    /* margin-bottom: 10px; */
    margin-left: 8px;
  }
  .header-menu {
    width: 320px;
    /* margin-left: 30px; */
    /* background-color: chocolate; */
  }
  .header-menu a {
    font-size: 18px;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 800PX -----------*/
/* --------------PRONTO------------ */
@media (max-width: 800.99px) {
  .header {
    flex-wrap: wrap;
    padding: 10px 18px;
    margin: 1.5rem;
  }

  .header img {
    width: 520px;
    padding: 20px;
    /* margin-bottom: 10px; */
    margin-left: 8px;
  }
  .header-menu {
    width: 340px;
    padding: 20px;
  }
  .header-menu a {
    font-size: 22px;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 786PX -----------*/
/* --------------PRONTO------------ */
@media (max-width: 786.99px) {
  .header {
    flex-wrap: wrap;
    padding: 10px 18px;
    margin: 1.5rem;
  }

  .header img {
    width: 500px;
    padding: 16px;
    margin-left: 8px;
  }
  .header-menu {
    width: 340px;
    padding: 16px;
  }
  .header-menu a {
    font-size: 20px;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 768PX -----------*/
/* -------------------------------- */
/* @media (min-width: 426px) and (max-width: 768px) { */
@media (max-width: 768.99px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin: 1.5rem;
  }

  .header img {
    width: 30rem;
    margin-bottom: 20px;
    margin-left: 52px;
  }
  .header-menu {
    width: 21rem;
    margin-left: 50px;
  }
  .header-menu a {
    font-size: 1rem;
    line-height: 1;
  }
}


/* -------------------------------- */
/* -----MAX-WIDTH: 740PX -----------*/
/* -----------PRONTO--------------- */
@media (max-width: 740.99px) {
  .header {
    flex-wrap: wrap;
    padding: 10px;
    margin: 1.5rem;
  }

  .header img {
    width: 500px;
    margin-bottom: 10px;
    padding: 10px;
  }
  .header-menu {
    width: 360px;
  }
  .header-menu a {
    font-size: 20px;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 720PX -----------*/
/* -------------------------------- */
/* @media (min-width: 426px) and (max-width: 768px) { */
@media (max-width: 720.99px) {
  .header {
    flex-wrap: wrap;
    padding: 10px;
    margin: 1.5rem;
    /* background-color: cadetblue; */
  }

  .header img {
    width: 30rem;
    margin-bottom: 10px;
    padding: 10px;
  }
  .header-menu {
    width: 21rem;
    margin-left: 18px;
  }
  .header-menu a {
    font-size: 1rem;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 688PX -----------*/
/* ------------PRONTO-------------------- */
/* Exibição horizontal para celular Samsung A6 (mãe) */
@media (max-width: 688.99px) {
  .header {
    padding: 16px 6px;
    margin: 8px;
  }

  .header img {
    width: 30rem;
    margin-left: 8px;
  }

  .header-menu {
    width: 380px;
  }

  .header-menu a {
    font-size: 20px;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 668PX -----------*/
/* ------------PRONTO-------------- */
/* Exibição horizontal para celular Samsung A6 (mãe) */
@media (max-width: 668.99px) {
  .header {
    padding: 16px 6px;
    margin: 8px;
  }

  .header img {
    width: 26rem;
    margin-left: 8px;
  }

  .header-menu {
    width: 18.75rem;
    margin-left: 8px;
  }

  .header-menu a {
    font-size: 1rem;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 428PX -----------*/
/* ------------PRONTO-------------- */
@media (max-width: 428.99px) {
  .header {
    padding: 18px 8px;
    margin: 8px;
  }

  .header img {
    width: 350px;
    margin-left: -4px;
  }

  .header-menu {
    width: 330px;
    margin-left: -4px;
  }

  .header-menu a {
    font-size: 20px;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 425PX -----------*/
/* ------------PRONTO-------------------- */
@media (max-width: 425.99px) {
  .header {
    padding: 18px 8px;
    margin: 8px;
  }

  .header img {
    width: 20rem;
    margin-left: -4px;
  }

  .header-menu {
    width: 18.75rem;
    margin-left: -4px;
  }

  .header-menu a {
    font-size: 1rem;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 414PX -----------*/
/* ------------PRONTO---------------*/
@media (max-width: 414.99px) {
  .header {
    padding: 18px 8px;
    margin: 8px;
  }

  .header img {
    width: 20rem;
    margin-left: -4px;
  }

  .header-menu {
    width: 18.75rem;
    margin-left: -4px;
  }

  .header-menu a {
    font-size: 1rem;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 412PX -----------*/
/* ------------PRONTO-------------------- */
/* Exibição para celular de pé Samsung J8 */
@media (max-width: 412.99px) {
  .header {
    padding: 18px 8px;
    margin: 8px;
  }

  .header img {
    width: 20rem;
    margin-left: -4px;
  }

  .header-menu {
    width: 18.75rem;
    margin-left: -4px;
  }

  .header-menu a {
    font-size: 1rem;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 393PX -----------*/
/* -----------PRONTO--------------- */
@media (max-width: 393.99px) {
  .header {
    padding: 16px 6px;
    margin: 10px 6px;
  }

  .header img {
    width: 320px;
  }

  .header-menu {
    width: 304px;
  }
  .header-menu a {
    font-size: 18px;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 375PX -----------*/
/* -------------------------------- */
@media (max-width: 375.99px) {
  .header {
    padding: 16px 6px;
    margin: 10px;
    /* background-color: cadetblue; */
    justify-content: center;
    height: 140px;
  }

  .header img {
    width: 320px;
  }

  .header-menu {
    width: 290px;
    margin: 0 4px;
    padding: 20px;
    /* background-color: brown; */
  }
  .header-menu a {
    font-size: 17px;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 360PX -----------*/
/* -------------------------------- */
@media (max-width: 360px) {
  .header {
    padding: 12px;
    margin: 8px;
  }

  .header img {
    width: 320px;
  }

  .header-menu {
    width: 280px;
  }

  .header-menu a {
    font-size: 16px;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 320PX -----------*/
/* -------------------------------- */
@media (max-width: 320px) {
  .header {
    padding: 15px 10px;
    margin: 8px;
  }

  .header img {
    width: 17rem;
  }

  .header-menu {
    width: 15rem;
  }

  .header-menu a {
    font-size: 0.88rem;
    line-height: 1;
  }
}
