/* -------------------------------- */
/* -----MAX-WIDTH: 1920PX ----------*/
/* ----------PRONTO---------------------- */
/* @media (min-width: 1025px) and (max-width: 1920.99px) { */

.header {
  display: flex;
  grid-area: header;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  margin: 3rem;
}

.header img {
  width: 43.75rem;
}

.header-menu {
  display: flex;
  grid-area: header;
  justify-content: space-evenly;
  width: 31.25rem;
  margin-left: 10px;
  gap: 10px;
}

.header-menu a {
  display: block;
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 10px;
  color: #141414;
}

/* -------------------------------- */
/* -----MIN-WIDTH: 1921PX---- ------*/
/* ------------PRONTO-------------- */
@media (min-width: 1921px) {
  .header {
    padding: 60px 40px;
    margin: 5rem;
  }

  .header img {
    width: 75rem;
  }

  .header-menu {
    width: 59.375rem;
    padding: 20px;
  }

  .header-menu a {
    font-size: 2.7rem;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 1024PX---- ------*/
/* -------------------------------- */
/* @media (min-width: 965px) and (max-width: 1024.99px) { */
@media (max-width: 1024px) {
  .header {
    padding: 36px 18px;
    margin: 2rem;
  }

  .header img {
    width: 32rem;
  }

  .header-menu {
    width: 23rem;
  }

  .header-menu a {
    font-size: 1.2rem;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 964PX---- ------*/
/* -------------------------------- */
/* @media (min-width: 871px) and (max-width: 964.99px) {
  .header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    /* background-color: aqua; 
    margin: 26px;
    width: 772px;
  }

  .header > img {
    width: 420px;
  }

  .header-menu {
    display: flex;
    grid-area: header;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 320px;
    margin-left: 6px;
    gap: 4px;
    /* background-color: yellowgreen; 
  }

  .header-menu a {
    font-size: 16px;
    line-height: 1.3;
    padding: 8px 18px;
    color: #141414;
    display: block;
  }
} */

/* -------------------------------- */
/* -----MAX-WIDTH: 870PX---- ------*/
/* -------------------------------- */
/* @media (min-width: 769px) and (max-width: 870.99px) {
  .header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    /* background-color: aqua; 
    margin: 26px;
    width: 772px;
  }

  .header > img {
    width: 420px;
  }

  .header-menu {
    display: flex;
    grid-area: header;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 300px;
    margin-left: 6px;
    gap: 6px;
    /* background-color: yellowgreen; 
  }

  .header-menu a {
    font-size: 14px;
    line-height: 1.3;
    padding: 8px 18px;
    color: #141414;
    display: block;
  }
} */

/* -------------------------------- */
/* -----MAX-WIDTH: 768PX -----------*/
/* -------------------------------- */
/* @media (min-width: 426px) and (max-width: 768px) { */
@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 20px 10px;
    margin: 1.5rem;
    /* background-color: aquamarine; */
  }

  .header img {
    width: 30rem;
    margin-bottom: 20px;
    margin-left: 52px;
  }
  .header-menu {
    width: 21rem;
    margin-left: 50px;
  }
  .header-menu a {
    font-size: 1.1rem;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 425PX -----------*/
/* ------------PRONTO-------------------- */
/* Exibição para celular Samsung J8 */
/* @media (min-width: 376px) and (max-width: 425.99px) { */
@media (max-width: 425.99px) {
  .header {
    padding: 18px 8px;
    margin: 0.5rem;
  }

  .header img {
    width: 20rem;
    margin-left: 8px;
  }

  .header-menu {
    width: 18.75rem;
    margin-left: 8px;
  }

  .header-menu a {
    font-size: 1rem;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 375PX -----------*/
/* -------------------------------- */
/* @media (min-width: 321px) and (max-width: 375.99px) { */
@media (max-width: 375.99px) {
  .header {
    padding: 16px 6px;
    /* background-color: aqua; */
  }

  .header img {
    width: 18rem;
  }

  .header-menu {
    width: 18.75rem;
    margin-left: 2px;
    /* background-color: red; */
  }
  .header-menu a {
    font-size: 0.89rem;
    line-height: 1;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 320PX -----------*/
/* -------------------------------- */
@media (max-width: 320px) {
  .header {
    padding: 15px 10px;
    margin: 8px;
  }

  .header img {
    width: 17rem;
  }

  .header-menu {
    width: 15rem;
  }

  .header-menu a {
    font-size: 0.880rem;
    line-height: 1;
  }
}
