/* -------------------------------- */
/* -----MIN-WIDTH: 1921PX---- ------*/
/* ------------PRONTO-------------- */
@media (min-width: 1921px) {
  .header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    margin: 80px;
    width: 2300px;
  }

  .header > img {
    width: 1200px;
  }

  .header-menu {
    display: flex;
    grid-area: header;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 950px;
    margin-left: 10px;
    padding: 20px;
    gap: 10px;
    /* background-color: BLUE; */
  }

  .header-menu a {
    font-size: 36px;
    line-height: 1.3;
    padding: 10px;
    width: 236px;
    text-align: center;
    display: block;
    color: #141414;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 1920PX ----------*/
/* ----------PRONTO---------------------- */
@media (min-width: 1025px) and (max-width: 1920.99px) {
  .header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    margin: 48px;
    /* background-color: chocolate; */
  }

  .header > img {
    width: 700px;
  }

  .header-menu {
    display: flex;
    grid-area: header;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 500px;
    margin-left: 10px;
    gap: 10px;
  }

  .header-menu a {
    font-size: 1.5rem;
    line-height: 1.3;
    padding: 10px 20px;
    color: #141414;
    display: block;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 1024PX---- ------*/
/* -------------------------------- */
@media (min-width: 965px) and (max-width: 1024.99px) {
  .header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: chocolate;
    margin: 24px;
  }


  .header > img {
    width: 480px;
  }

  .header-menu {
    display: flex;
    grid-area: header;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 368px;
    margin-left: 10px;
    gap: 10px;
    background-color: blue;
  }

  .header-menu a {
    font-size: 1rem;
    line-height: 1.3;
    padding: 8px 18px;
    color: #141414;
    display: block;
  }

  .header-menu a:hover {
    background-color: #030303d5;
    transition-duration: 0.2s;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 964PX---- ------*/
/* -------------------------------- */
@media (min-width: 769px) and (max-width: 964.99px) {
  .header {
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: aqua;
    margin: 26px;
    width: 795px;
  }


  .header > img {
    width: 420px;
  }

  .header-menu {
    display: flex;
    grid-area: header;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 340px;
    margin-left: 6px;
    gap: 6px;
    background-color: yellowgreen;
  }

  .header-menu a {
    font-size: 14px;
    line-height: 1.3;
    padding: 8px 18px;
    color: #141414;
    display: block;
  }

  .header-menu a:hover {
    background-color: #030303d5;
    transition-duration: 0.2s;
  }
}

/* .header-menu {
  display: flex;
  grid-area: header;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 500px;
  margin-left: 10px;
  gap: 10px;
} */

/* .header-menu a {
  font-size: 1.5rem;
  line-height: 1.3;
  padding: 10px 20px;
  color: #141414;
  display: block;
} */


/* -------------------------------- */
/* -----MAX-WIDTH: 768PX -----------*/
/* -------------------------------- */
@media (min-width: 426px) and (max-width: 768.99px) {
  .header {
    display: flex;
    grid-area: header;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 10px;
    height: 130px;
    width: 700px;
    background-color: aquamarine;
  }

  .header > img {
    width: 450px;
    /* justify-content: center; */
    margin-bottom: 10px;
    margin-left: 52px;
  }
  .header-menu {
    display: flex;
    grid-area: header;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 30px;
    /* background-color: chocolate; */
  }
  .header-menu a {
    align-self: center;
    font-size: 16px;
    line-height: 1;
    margin-left: 50px;
    padding: 10px 20px;
    color: #141414;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 425PX -----------*/
/* ------------PRONTO-------------------- */
/* Exibição para celular Samsung J8 */
@media (min-width: 376px) and (max-width: 425.99px) {
  .header {
    display: flex;
    justify-content: center;
    gap: 4px;
    grid-area: header;
    flex-wrap: wrap;
    padding: 10px;
    margin: 9px;
    height: 100px;
    width: 368px;
    /* background-color: green; */
  }
  .header > img {
    width: 316px;
  }

  .header-menu {
    display: flex;
    justify-content: space-evenly;
    grid-area: header;
    flex-wrap: nowrap;
    width: 300px;
    height: 20px;
    gap: 10px;
    /* background-color: aqua; */
  }
  .header-menu a {
    display: flex;
    justify-content: center;
    /* text-align: center; */
    font-size: 14px;
    line-height: 1;
    /* margin: 12px 120px; */
    width: 80px;
    padding: 5px 10px;
    color: #141414;
    border-radius: 5px;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 375PX -----------*/
/* -------------------------------- */
@media (min-width: 321px) and (max-width: 375.99px) {
  .header {
    display: flex;
    justify-content: center;
    gap: 5px;
    grid-area: header;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    height: 100px;
    width: 330px;
    background-color: indigo;
  }
  .header > img {
    width: 220px;
    margin-left: 22px;
    margin-bottom: 0px;
  }

  .header-menu {
    display: flex;
    justify-content: space-evenly;
    grid-area: header;
    flex-wrap: nowrap;
    width: 300px;
    height: 20px;
    gap: 10px;
    background-color: aqua;
  }
  .header-menu a {
    display: flex;
    justify-content: center;
    /* text-align: center; */
    font-size: 12px;
    line-height: 1;
    /* margin: 12px 120px; */
    width: 80px;
    padding: 5px 10px;
    color: #141414;
    border-radius: 5px;
  }
}

/* -------------------------------- */
/* -----MAX-WIDTH: 320PX -----------*/
/* -------------------------------- */
@media (max-width: 320.99px) {
  .header {
    display: flex;
    justify-content: center;
    grid-area: header;
    flex-wrap: wrap;
    padding: 10px;
    margin: 8px;
    height: 80px;
    width: 262px;
    /* background-color: red; */
  }

  .header > img {
    width: 240px;
  }

  .header-menu {
    display: flex;
    justify-content: space-evenly;
    grid-area: header;
    flex-wrap: nowrap;
    width: 248px;
    height: 20px;
    margin-top: 24px;
    /* background-color: aqua; */
  }

  .header-menu a {
    display: flex;
    justify-content: center;
    font-size: 13px;
    line-height: 1;
    margin-left: 12px;
    width: 80px;
    padding: 5px 5px;
    color: #141414;
  }
}